In [2]:
import numpy as np
import pandas as pd
import time
import re
import os
import pandas_profiling
import random
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../bank.csv', sep=';')

In [6]:
def generateMissingVal(df,ml):
    frac = ml
    idx = np.random.choice(range(df.shape[0]), int(df.count().sum()*frac), replace=True)
    cols = np.random.choice(range(df.shape[1]), size=len(idx), replace=True)
    x = df.astype(object).to_numpy()
    x[idx, cols] = np.nan
    df = pd.DataFrame(x, index=df.index, columns=df.columns)
    columns = df.columns
    c1 = ['job','marital','education','default','housing','loan','contact','month','poutcome','y']
    columns = list(set(columns)-set(c1))
    for col in columns:
        df[col] = pd.to_numeric(df[col])

    return df

        
def calcIQR(df):
    num = df._get_numeric_data()
    Q1 = num.quantile(0.25)
    Q3 = num.quantile(0.75)
    IQR = Q3 - Q1
    lW = Q1 - 1.5 * IQR
    uW = Q3 + 1.5 * IQR
    return lW, uW

def showOutliners(col,df,uW,lW,kind):
    return df[(df[col]>uW[col])|(df[col]<lW[col])]

def plotOutliners(col,df):
    sns.boxplot(data=df, y=col)
    df.boxplot(column=col)

In [7]:
#Test case

ml = 0.1
df = generateMissingVal(df,ml)
df.head()
lW,uW = calcIQR(df)
df.isna().sum()    
display(showOutliners('age',df,uW,lW,'both'))
# plotOutliners('age',df)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
36,78.0,retired,divorced,NaN,no,229.0,NaN,no,telephone,NaN,oct,97.0,1.0,-1.0,0.0,unknown,yes
129,77.0,retired,divorced,NaN,no,NaN,no,no,cellular,14.0,apr,161.0,1.0,-1.0,0.0,unknown,yes
166,78.0,housemaid,married,secondary,no,NaN,no,no,telephone,16.0,NaN,80.0,4.0,NaN,0.0,NaN,no
412,75.0,retired,divorced,tertiary,no,3810.0,NaN,no,cellular,16.0,nov,262.0,1.0,183.0,1.0,failure,yes
477,77.0,retired,married,tertiary,no,7802.0,no,no,telephone,NaN,may,421.0,1.0,92.0,2.0,success,NaN
573,81.0,retired,married,secondary,no,NaN,no,no,cellular,19.0,aug,65.0,5.0,-1.0,NaN,NaN,no
633,83.0,retired,NaN,secondary,no,0.0,no,NaN,cellular,18.0,mar,140.0,10.0,-1.0,0.0,unknown,no
688,80.0,management,married,primary,no,6483.0,no,no,telephone,19.0,oct,123.0,1.0,-1.0,0.0,NaN,no
1126,77.0,retired,married,secondary,no,610.0,no,no,cellular,13.0,aug,766.0,3.0,-1.0,0.0,unknown,no
1230,75.0,retired,divorced,secondary,no,1341.0,no,no,cellular,NaN,dec,415.0,7.0,-1.0,0.0,unknown,yes
1312,80.0,retired,married,secondary,no,NaN,no,no,telephone,NaN,jun,712.0,1.0,64.0,12.0,NaN,yes
1349,83.0,retired,married,primary,no,425.0,no,no,telephone,22.0,jun,883.0,NaN,140.0,1.0,failure,NaN
1415,75.0,retired,divorced,primary,no,852.0,NaN,no,cellular,15.0,NaN,341.0,1.0,-1.0,0.0,unknown,no
1422,79.0,retired,NaN,secondary,no,4738.0,no,no,telephone,9.0,NaN,151.0,5.0,-1.0,0.0,unknown,no
1437,77.0,retired,married,tertiary,no,0.0,no,no,NaN,16.0,oct,847.0,1.0,60.0,1.0,success,yes
1949,78.0,retired,married,tertiary,no,226.0,no,NaN,telephone,6.0,nov,136.0,1.0,-1.0,0.0,unknown,no
1956,77.0,retired,married,primary,no,680.0,no,NaN,telephone,24.0,NaN,513.0,2.0,89.0,7.0,failure,NaN
2014,74.0,retired,divorced,NaN,no,4079.0,no,no,cellular,NaN,NaN,343.0,3.0,-1.0,0.0,NaN,yes
2070,80.0,retired,married,NaN,no,8304.0,no,no,telephone,6.0,apr,681.0,1.0,NaN,11.0,success,NaN
2678,74.0,NaN,married,secondary,no,935.0,no,no,cellular,26.0,jan,100.0,NaN,104.0,NaN,other,no
2848,80.0,retired,married,secondary,NaN,462.0,no,no,NaN,7.0,dec,NaN,2.0,NaN,0.0,unknown,NaN
2896,80.0,retired,married,primary,no,1548.0,no,no,cellular,6.0,aug,331.0,2.0,-1.0,NaN,unknown,NaN
3202,79.0,NaN,married,primary,no,8556.0,NaN,no,telephone,18.0,jan,326.0,2.0,272.0,2.0,NaN,yes
3205,77.0,NaN,married,primary,no,680.0,NaN,no,telephone,27.0,nov,341.0,4.0,94.0,3.0,failure,no
3311,87.0,retired,NaN,primary,no,NaN,no,NaN,cellular,NaN,oct,144.0,NaN,NaN,NaN,unknown,yes
3360,79.0,retired,married,primary,no,NaN,NaN,NaN,telephone,8.0,NaN,1006.0,2.0,-1.0,NaN,unknown,yes
3690,80.0,housemaid,married,primary,no,0.0,no,NaN,cellular,23.0,feb,639.0,1.0,189.0,1.0,NaN,yes
3750,79.0,NaN,divorced,NaN,NaN,NaN,NaN,no,telephone,8.0,NaN,220.0,7.0,450.0,2.0,failure,NaN
4047,75.0,retired,married,secondary,NaN,26452.0,no,NaN,telephone,NaN,NaN,219.0,2.0,NaN,0.0,unknown,no
4108,84.0,NaN,divorced,primary,NaN,NaN,no,no,NaN,18.0,NaN,353.0,3.0,-1.0,0.0,unknown,yes
4323,83.0,retired,NaN,primary,no,0.0,no,no,telephone,31.0,may,664.0,1.0,77.0,3.0,success,no
4388,83.0,retired,divorced,NaN,no,1097.0,NaN,no,telephone,5.0,mar,181.0,NaN,-1.0,0.0,NaN,NaN