In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('../RadNet_Laboratory_Analysis.csv')

df.dtypes

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.088,Non-detect,Non-detect,NaN,NaN,Non-detect
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.055,Non-detect,Non-detect,NaN,NaN,Non-detect
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,0.0057,NaN,0.0074,0.067,Non-detect,Non-detect,NaN,NaN,0.0043
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.096,Non-detect,Non-detect,NaN,NaN,Non-detect
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.22,Non-detect,Non-detect,NaN,NaN,Non-detect

In [15]:
columns = df.columns
id_cols = ['State','Location',"Date Posted",'Date Collected', 'Sample Type','Unit']
columns = list(set(columns)-set(id_cols))
columns

['Cs-134',
 'Co-60',
 'I-131',
 'Te-132',
 'Cs-136',
 'Cs-137',
 'Te-129m',
 'I-133',
 'Ba-140',
 'I-132',
 'Te-129']

In [21]:
df.loc[:,columns]=df.loc[:,columns].applymap(lambda x: np.nan if ((x == "Non-detect")|(x=="ND")) else x)
df.loc[:,columns].head()

,Cs-134,Co-60,I-131,Te-132,Cs-136,Cs-137,Te-129m,I-133,Ba-140,I-132,Te-129
0,NaN,NaN,0.088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0.055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0057,NaN,0.067,0.0043,NaN,0.0074,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,0.096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df['Date Posted'] = pd.to_datetime(df['Date Posted'])
df['Date Collected'] = pd.to_datetime(df['Date Collected'])
for col in columns:
    df[col] = pd.to_numeric(df[col])

df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                   float64
Cs-136                   float64
Cs-137                   float64
I-131                    float64
I-132                    float64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                   float64
dtype: object

In [29]:
id_cols = pd.Series(id_cols)
for col in id_cols:
    df[col] = df[col].astype('category')

df.dtypes

State             category
Location          category
Date Posted       category
Date Collected    category
Sample Type       category
Unit              category
Ba-140             float64
Co-60              float64
Cs-134             float64
Cs-136             float64
Cs-137             float64
I-131              float64
I-132              float64
I-133              float64
Te-129             float64
Te-129m            float64
Te-132             float64
dtype: object