<h2>Exercise 25 Creating a DataFrame fro man Existing RDD )Resilient Distributed Dataset

In [1]:
from pyspark import SparkContext
from pyspark.sql import *
sc = SparkContext()
sqlc = SQLContext(sc)

In [5]:
data = [("Anikt",23), ("Tyler", 26), ("Preity",36)]
data_rdd = sc.parallelize(data)
type(data_rdd)

pyspark.rdd.RDD

In [3]:
data_sd = sqlc.createDataFrame(data_rdd)

In [6]:
data_sd.show()

+------+---+
|    _1| _2|
+------+---+
| Anikt| 23|
| Tyler| 26|
|Preity| 36|
+------+---+

In [8]:
ex2_data = [("Opel",2001), ("Ford",2002), ("Audi",2004)]
ex2_data_rdd = sc.parallelize(ex2_data)
ex2_data_sd = sqlc.createDataFrame(ex2_data_rdd)
ex2_data_sd.show()

+----+----+
|  _1|  _2|
+----+----+
|Opel|2001|
|Ford|2002|
|Audi|2004|
+----+----+