In [2]:
from pyspark import SparkContext
from pyspark.sql import SQLContext

In [3]:
sc = SparkContext()
sqlc = SQLContext(sc)

In [6]:
df = sqlc.read.format('com.databricks.spark.csv').options(
    header = 'True',
    inferschema = 'true'
).load('../cars_fixed.csv')
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.show(5)

In [7]:
df.show(5)

+---+----+---------+------------+----------+------+------------+----+------+--------------------+
|_c0| mpg|cylinders|displacement|horsepower|weight|acceleration|year|origin|                name|
+---+----+---------+------------+----------+------+------------+----+------+--------------------+
|  0|18.0|        8|       307.0|     130.0|3504.0|        12.0|1970|     1|chevrolet chevell...|
|  1|15.0|        8|       350.0|     165.0|3693.0|        11.5|1970|     1|   buick skylark 320|
|  2|18.0|        8|       318.0|     150.0|3436.0|        11.0|1970|     1|  plymouth satellite|
|  3|16.0|        8|       304.0|     150.0|3433.0|        12.0|1970|     1|       amc rebel sst|
|  4|17.0|        8|       302.0|     140.0|3449.0|        10.5|1970|     1|         ford torino|
+---+----+---------+------------+----------+------+------------+----+------+--------------------+
only showing top 5 rows