<H2>Exercise 27: Converting a Spark DataFrame to a Pandas DataFrame

In [3]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd

In [4]:
sc = SparkContext()
sqlc = SQLContext(sc)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=Python Spark Session1, master=local[*]) created by getOrCreate at <ipython-input-1-a18b03224457>:2

In [3]:
df = sqlc.read.format('com.databricks.spark.csv').options(
    header = 'True',
    inferschema = 'true'
).load('../cars_fixed.csv')
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.show(5)

In [5]:
df.toPandas()

,_c0,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,0,18.0,8,307.0,130.0,3504.0,12.0,1970,1,chevrolet chevelle malibu
1,1,15.0,8,350.0,165.0,3693.0,11.5,1970,1,buick skylark 320
2,2,18.0,8,318.0,150.0,3436.0,11.0,1970,1,plymouth satellite
3,3,16.0,8,304.0,150.0,3433.0,12.0,1970,1,amc rebel sst
4,4,17.0,8,302.0,140.0,3449.0,10.5,1970,1,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,393,27.0,4,140.0,86.0,2790.0,15.6,1982,1,ford mustang gl
394,394,44.0,4,97.0,52.0,2130.0,24.6,1982,2,vw pickup
395,395,32.0,4,135.0,84.0,2295.0,11.6,1982,1,dodge rampage
396,396,28.0,4,120.0,79.0,2625.0,18.6,1982,1,ford ranger
397,397,31.0,4,119.0,82.0,2720.0,19.4,1982,1,chevy s-10

In [ ]:
df.toPandas().to_csv('carsMyPandasCopy.csv')

In [ ]:
df.write.csv('carsMyPandasCopy.csv')