<h2>Exercise 22: Creating a Partitioned Data Set

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Exercise 22').getOrCreate()

In [9]:
dfs1 = spark.read.parquet('dataFile')

In [10]:
dfs1 .write.parquet(
    'dataFiledPartitioned1',
    partitionBy=['year','cylinders'],
    compression='snappy'
)

In [11]:
dfs2 = spark.read.parquet('dataFiledPartitioned1/')

In [12]:
dfs2.show()

+---+------------+------------+----------+----+--------------------+------+------+----+---------+
|_c0|acceleration|displacement|horsepower| mpg|                name|origin|weight|year|cylinders|
+---+------------+------------+----------+----+--------------------+------+------+----+---------+
|367|        19.6|       112.0|      88.0|28.0|  chevrolet cavalier|     1|2605.0|1982|        4|
|368|        18.6|       112.0|      88.0|27.0|chevrolet cavalie...|     1|2640.0|1982|        4|
|369|        18.0|       112.0|      88.0|34.0|chevrolet cavalie...|     1|2395.0|1982|        4|
|370|        16.2|       112.0|      85.0|31.0|pontiac j2000 se ...|     1|2575.0|1982|        4|
|371|        16.0|       135.0|      84.0|29.0|      dodge aries se|     1|2525.0|1982|        4|
|372|        18.0|       151.0|      90.0|27.0|     pontiac phoenix|     1|2735.0|1982|        4|
|373|        16.4|       140.0|      92.0|24.0|ford fairmont futura|     1|2865.0|1982|        4|
|374|        20.5|       151.0|      null|23.0|      amc concord dl|     1|3035.0|1982|        4|
|375|        15.3|       105.0|      74.0|36.0| volkswagen rabbit l|     2|1980.0|1982|        4|
|376|        18.2|        91.0|      68.0|37.0|  mazda glc custom l|     3|2025.0|1982|        4|
|377|        17.6|        91.0|      68.0|31.0|    mazda glc custom|     3|1970.0|1982|        4|
|378|        14.7|       105.0|      63.0|38.0|plymouth horizon ...|     1|2125.0|1982|        4|
|379|        17.3|        98.0|      70.0|36.0|      mercury lynx l|     1|2125.0|1982|        4|
|380|        14.5|       120.0|      88.0|36.0|    nissan stanza xe|     3|2160.0|1982|        4|
|381|        14.5|       107.0|      75.0|36.0|        honda accord|     3|2205.0|1982|        4|
|382|        16.9|       108.0|      70.0|34.0|      toyota corolla|     3|2245.0|1982|        4|
|383|        15.0|        91.0|      67.0|38.0|         honda civic|     3|1965.0|1982|        4|
|384|        15.7|        91.0|      67.0|32.0|  honda civic (auto)|     3|1965.0|1982|        4|
|385|        16.2|        91.0|      67.0|38.0|       datsun 310 gx|     3|1995.0|1982|        4|
|388|        14.5|       156.0|      92.0|26.0|chrysler lebaron ...|     1|2585.0|1982|        4|
+---+------------+------------+----------+----+--------------------+------+------+----+---------+
only showing top 20 rows